@page "/Portfolio"
@using BrawnyFinal.Models
@inject HttpClient _http
@inject ISnackbar _snackbar

<PageTitle>Portfolio</PageTitle>

@{
    int spacing = 4;
}

<div style="margin: 16px">
    <MudGrid>
        @foreach (var item in _items)
        {
            <MudItem md="@spacing">
                <MudCard>
                    <MudCardMedia Height="300" Image="@item.Image"/>
                    <MudCardHeader><MudText Typo="Typo.h4">@item.Title</MudText></MudCardHeader>
                    <MudCardContent>
                        @foreach (var area in item.Description.Split("\n\n"))
                        {
                            <MudText Typo="Typo.body1">@area</MudText>    
                        }
                    </MudCardContent>
                    <MudCardActions>
                        <MudLink Href="@item.Github" Target="_blank" Color="Color.Info"
                                 Typo="Typo.button">
                            <MudIcon Icon="@Icons.Custom.Brands.GitHub"/>
                            Github
                        </MudLink>
                    </MudCardActions>
                </MudCard>
            </MudItem>    
        }
    </MudGrid>
</div>

@code {
    List<PortfolioItem> _items = new();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _items = (await _http.GetFromJsonAsync<PortfolioItem[]>("content/portfolio.json"))?.ToList() ?? new();
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Error);
        }
    }

}